html
    head
        title= title
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

    body.container
        p Welcome to ABC Project Mgmt Tool
        p Please login to start your session
        
        form(method="POST",action="/auth/login").form-group
            label(for="username") Username
            input(type="text", placeholder="username here",name="username").form-control
            label(for="password") Password
            input(type="password",placeholder="password", name="password").form-control
            br

            input(type="submit",value="login").btn.btn-primary

        p 
            a(href="/forgotpassword") forgotPassword?
        p Don't have an account?
            a(href="/auth/register") Register Here