html
    head
        title PM Tool
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")

    body.container
        p Welcome to ABC Project Mgmt Tool
        p Please Register to user your system
        
        form(method="POST").form-group
            label(for="name") Name
            input(type="text",placeholder="name",name="name").form-control
            label(for="email") Email
            input(type="text", placeholder="email", name="email").form-control
            label(for="username") Username
            input(type="text", placeholder="username here",name="username").form-control
            label(for="password") Password
            input(type="password",placeholder="password", name="password").form-control
            br

            input(type="submit",value="register").btn.btn-primary

        p Already Registered?
            a(href="/auth/login") login Here